!!!
html
	head
		title="Testing Sarnab's first Node app"
		script(src='/chat.js')
    		script(src='/socket.io/socket.io.js')
	body
		.controls
			input#field(style='width:350px;')
			input#send(type='button', value='send')